{% extends 'simpletodo/base.html' %}

{% block content %}

<p style="text-align:justify">Todo List – это список дел, которые вам нужно выполнить или того, что вы хотите сделать.

    Традиционно их пишут на листке бумаги и организовывают в порядке приоритета. При выполнении задачи, её обычно
    вычеркивают из списка.

    Но такой список можно вести не только на листке бумаги, но и в электронном виде, например, браузере. SimpleTodoList
    – это название проекта, который мы создадим в рамках данной статьи для ведения списка задач.</p>

{% endblock %}


