{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ title }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link type="text/css" href="{% static 'simpletodo/css/styles.css' %}" rel="stylesheet"/>
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="shortcut icon" href="{% static 'simpletodo/images/main.ico' %}" type="image/x-icon"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
	<tr>
		<td valign=top>
			{% block mainmenu %}
			<div class="header">
				<ul id="mainmenu" class="mainmenu">
					<li class="logo"><a href="{% url 'home' %}">
						<div class="logo"></div>
					</a></li>
					{% for m in menu %}
					<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
					{% endfor %}
					{% if request.user.is_authenticated %}
					<li class="last"> {{user.username}} | <a href="{% url 'logout' %}">Выйти</a></li>
					{% else %}
					<li class="last"><a href="{% url 'register' %}">Регистрация</a> | <a
							href="{% url 'login' %}">Войти</a></li>
					{% endif %}
				</ul>
				<div class="clear"></div>
			</div>
			{% endblock mainmenu %}


			<table class="table-content" border=0 cellpadding="0" cellspacing="0">
				<tr>
					<!-- Sidebar слева -->
					<td valign="top" class="left-chapters">
						<ul id="leftchapters">
							<li><a href="{% url 'fin' %}">Выполнено</a></li>
							<li><a href="{% url 'work' %}">В работе</a></li>
						</ul>
					</td>
					<!-- Конец Sidebar'а -->
					<td valign="top" class="content">
						<!-- Хлебные крошки -->
						{% block breadcrumbs %}
						{% endblock %}

						<!-- Блок контента -->
						<div class="content-text">
							{% block content %}
							{% endblock %}
						</div>
						<!-- Конец блока контента -->

					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<!-- Конец footer'а и страницы -->
</body>
</html>