{% extends 'simpletodo/base.html' %}

{% block content %}
<ul class="list-articles">
	{% for p in posts %}
	<div class="panel panel-danger">
		<div class="panel-heading"><h2>{{p.title}}</h2></div>
		<div class="panel-body">
			{% autoescape on %}
			{{p.content}}
			{% endautoescape %}
		</div>
		<p class="link-read-post">
			<a href="#" class="color-bt-g">Закончить</a>
			<a href="{% url 'delete_task' p.id %}" class="color-bt-r">Удалить</a>
		</p>
		</li>
	</div>
	{% endfor %}
</ul>
{% endblock %}